Repository SystemLight/T-webpack5: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, eslint --fix, stylelint --fix

feat: 初始化仓库
  index.html
  jsconfig.json
  mock/demo.js
  mock/index.js
  package.json
  packages/.gitkeep
  plop-templates/mock/index.hbs
  plop-templates/mock/prompt.js
  plop-templates/plop/index.hbs
  plop-templates/plop/prompt.js
  plopfile.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
  postcss.config.js
  public/favicon.ico
  public/robots.txt
  rollup.config.js
  src/global.scss
  src/main.ts
  tailwind.config.js
  tsconfig.json
  vite.config.js
  webpack.config.js
Due: prettier -w, eslint --fix, stylelint --fix

fix: babel版本号
  babel.config.js
Due: prettier -w, eslint --fix

chore: 调整lint配置
  .eslintrc.js
  .stylelintrc.json
  README.md
Due: prettier -w, eslint --fix

feat: 初始化模版
  .stylelintrc.json
  README.md
  package.json
  pnpm-lock.yaml
  rollup.config.js
  src/App.vue
  src/index.ejs
  src/main.ts
  src/route/index.ts
  src/store/index.ts
  src/views/index.vue
  vite.config.js
Due: prettier -w, eslint --fix

feat: 增加vue新特性
  .eslintrc.js
  src/views/index.vue
  types/shims-app.d.ts
  vite.config.js
  webpack.config.js
Due: prettier -w, eslint --fix

fix: 旧特性
  .stylelintrc.json
  README.md
  types/shims-app.d.ts
Due: prettier -w, eslint --fix

docs: 文档排版问题
  README.md
Due: none

fix: script命令
  package.json
Due: none

feat: 集成自动化lint
  .eslintrc.js
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .prettierrc.js
  .prettierrc.json
  .stylelintignore
  .stylelintrc.js
  .stylelintrc.json
  README.md
  package.json
  pnpm-lock.yaml
  rollup.config.js
  vite.config.js
  webpack.config.js
Due: prettier -w, eslint --fix

feat: 集成fabric
  .eslintrc.js
  .lintstagedrc.json
  .prettierignore
  .prettierrc.js
  .prettierrc.json
  .stylelintignore
  .stylelintrc.js
  .stylelintrc.json
  jsconfig.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier -w, eslint --fix

feat: 集成fabric
  .eslintrc.js
  .lintstagedrc.json
  .prettierignore
  .prettierrc.js
  .prettierrc.json
  .stylelintignore
  .stylelintrc.js
  .stylelintrc.json
  README.md
  index.html
  jsconfig.json
  package.json
  pnpm-lock.yaml
  vite.config.js
  webpack.config.js
Due: prettier -w, eslint --fix

feat: 集成fabric
  .lintstagedrc.json
Due: none

feat: vuex
  .DS_Store
  .eslintrc.js
  README.md
  mock/demo.js
  package.json
  pnpm-lock.yaml
  src/api/index.ts
  src/assets/.gitkeep
  src/components /index.ts
  src/directive/index.ts
  src/main.ts
  src/permission.ts
  src/route/index.ts
  src/router/index.ts
  src/settings.ts
  src/store/hook.ts
  src/store/index.ts
  src/store/interface/index.ts
  src/store/modules/user.ts
  src/styles/global.scss
  src/utils/auth.ts
  src/utils/index.ts
  src/utils/log.ts
  src/utils/request.ts
  src/views/_errors/code-404.vue
  src/views/_errors/code-500.vue
  src/views/bar.vue
  src/views/foo.vue
  src/views/index.vue
  webpack.config.js
Due: prettier -w, eslint --fix, stylelint --fix

feat: 封装登陆流程
  mock/demo.js
  src/api/index.ts
  src/main.ts
  src/permission.ts
  src/store/index.ts
  src/store/modules/user.ts
  src/utils/auth.ts
  src/utils/request.ts
  src/views/foo.vue
  src/views/login.vue
  webpack.config.js
Due: prettier -w, eslint --fix

fix: space
  src/.DS_Store
  src/components/index.ts
  src/store/index.ts
  src/utils/request.ts
Due: prettier -w, eslint --fix

feat: 清除无用包
  package.json
  pnpm-lock.yaml
Due: none

feat: 初始化仓库
  .eslintrc.js
  .lintstagedrc.json
  .stylelintrc.js
  README.md
  package.json
  pnpm-lock.yaml
  src/api/auth.ts
  src/api/index.ts
  src/assets/.gitkeep
  src/components/index.ts
  src/directive/index.ts
  src/router/index.ts
  src/styles/func.scss
  src/styles/global.scss
  src/styles/media.scss
  src/styles/mixin.scss
  src/styles/utils.scss
  src/styles/var.scss
  src/views/login.vue
  tailwind.config.js
  tsconfig.json
  webpack.config.js
Due: prettier -w, eslint --fix, stylelint --fix

fix: api/auth
  src/views/foo.vue
  webpack.config.js
Due: prettier -w, eslint --fix

fix: api/auth
  src/views/foo.vue
Due: prettier -w, eslint --fix

feat: 重构项目
  README.md
  babel.config.js
  package.json
  packages/.gitkeep
  packages/webapp/.browserslistrc
  packages/webapp/LICENSE
  packages/webapp/babel.config.js
  packages/webapp/package.json
  packages/webapp/public/favicon.ico
  packages/webapp/public/robots.txt
  packages/webapp/src/main.js
  packages/webapp/src/style.scss
  packages/webapp/webpack.config.js
  pnpm-lock.yaml
  types/shims-app.d.ts
Due: prettier -w, eslint --fix, stylelint --fix

feat: add gitignore for macos
  .gitignore
Due: none

feat: 语义化命名
  .lintstagedrc.json
  mock/auth.js
  mock/demo.js
  mock/index.js
  package.json
  src/api/auth.ts
  src/main.ts
  src/settings.ts
  src/store/composables.ts
  src/store/index.ts
  src/store/modules/user.ts
  src/utils/request.ts
  src/views/bar.vue
  src/views/foo.vue
  src/views/index.vue
  src/views/login.vue
  webpack.config.js
Due: prettier -w, eslint --fix

feat: 切分样式结构
  src/main.ts
  src/permission.ts
  src/styles/global.scss
  src/styles/tailwind.css
  src/styles/themes.scss
  src/styles/var.scss
  src/views/foo.vue
Due: prettier -w, eslint --fix, stylelint --fix

feat: utils
  src/utils/log.ts
  src/utils/request.ts
Due: prettier -w, eslint --fix

feat: 升级webpack-config
  package.json
  pnpm-lock.yaml
  src/utils/request.ts
  src/views/login.vue
  webpack.config.js
Due: prettier -w, eslint --fix

feat: 升级版本号
  package.json
Due: none

docs: update
  .eslintrc.js
  .prettierignore
  README.md
  package.json
  postcss.config.js
Due: prettier -w, eslint --fix

fix: .DS_Store
  .DS_Store
  src/.DS_Store
Due: none

feat: 初始化仓库
  .eslintrc.js
  .lintstagedrc.json
  .stylelintrc.js
  README.md
  package.json
  pnpm-lock.yaml
  src/App.jsx
  src/App.vue
  src/api/auth.ts
  src/main.js
  src/main.ts
  src/permission.ts
  src/router/index.ts
  src/store/composables.ts
  src/store/index.ts
  src/store/interface/index.ts
  src/store/modules/user.ts
  src/styles/func.scss
  src/styles/global.scss
  src/styles/media.scss
  src/styles/mixin.scss
  src/styles/tailwind.css
  src/styles/themes.scss
  src/styles/utils.scss
  src/styles/var.scss
  src/utils/auth.ts
  src/utils/index.ts
  src/utils/log.ts
  src/utils/request.ts
  src/views/_errors/code-404.vue
  src/views/_errors/code-500.vue
  src/views/bar.vue
  src/views/foo.vue
  src/views/index.vue
  src/views/login.vue
  tailwind.config.js
  tsconfig.json
  types/shims-app.d.ts
  webpack.config.js
Due: prettier -w, eslint --fix, stylelint --fix

fix: webpack config
  package.json
  pnpm-lock.yaml
  webpack.config.js
Due: prettier -w, eslint --fix

fix: types遗留问题
  .DS_Store
  .gitignore
  jsconfig.json
  package.json
  pnpm-lock.yaml
  src/.DS_Store
  src/views/foo.vue
  src/views/index.vue
  types/shims-app.d.ts
  webpack.config.js
Due: prettier -w, eslint --fix

feat: 初始化仓库
  .eslintrc.js
  .lintstagedrc.json
  README.md
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/main.ts
  tsconfig.json
  types/shims-app.d.ts
  webpack.config.js
Due: prettier -w, eslint --fix

fix: tailwindcss
  src/App.tsx
  src/main.ts
  src/styles/func.scss
  src/styles/global.scss
  src/styles/media.scss
  src/styles/mixin.scss
  src/styles/tailwind.css
  src/styles/themes.scss
  src/styles/utils.scss
  src/styles/var.scss
  tailwind.config.js
Due: prettier -w, eslint --fix, stylelint --fix

feat: 更新依赖包
  .eslintrc.js
  babel.config.js
  package.json
  pnpm-lock.yaml
  tailwind.config.js
  webpack.config.js
Due: prettier -w, eslint --fix

feat: 完善类型定义
  .eslintignore
  package.json
  pnpm-lock.yaml
  types/shims-app.d.ts
Due: prettier -w, eslint --fix

fix: 行分隔符号
  .gitattributes
  .lintstagedrc.json
  README.md
  babel.config.js
  index.html
  jsconfig.json
  mock/index.js
  plop-templates/mock/prompt.js
  plop-templates/plop/prompt.js
  plopfile.js
  postcss.config.js
  src/global.scss
  src/main.ts
  tailwind.config.js
  tsconfig.json
  types/shims-app.d.ts
  webpack.config.js
Due: prettier -w, eslint --fix, stylelint --fix

feat: 升级配置项
  .gitignore
  .stylelintignore
  README.md
  babel.config.js
  index.html
  jsconfig.json
  package.json
  pnpm-lock.yaml
  tailwind.config.js
  tsconfig.json
  types/shims-app.d.ts
  webpack.config.js
Due: prettier -w, eslint --fix

feat: 增加插件演示
  babel.config.js
  package.json
  plugins/README.md
  plugins/postcss-demo-plugin.js
  plugins/webpack-demo/loader.js
  pnpm-lock.yaml
  postcss.config.js
  src/main.ts
  src/modules/foo.ts
  src/styles/global.scss
  src/styles/style.scss
  webpack.config.js
Due: prettier -w, eslint --fix, stylelint --fix

feat: 丰富功能测试
  jest.config.js
  package.json
  plugins/webpack-demo/loader.js
  pnpm-lock.yaml
  src/main.ts
  src/styles/index.scss
  src/styles/utils.scss
  src/utils/index.ts
  tests/jest.test.ts
Due: prettier -w, eslint --fix, stylelint --fix

Path conditions:
  prettier -w: any of: *.{vue,js,jsx,ts,tsx}
  eslint --fix: any of: *.{vue,js,jsx,ts,tsx}
  stylelint --fix: any of: *.{s[ac]ss,css}
