Repository SystemLight/T-webpack5: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, eslint --fix, stylelint --fix

feat: babel插件演示
  babel.config.js
  jest.config.js
  package.json
  plop-templates/mock/prompt.js
  plop-templates/plop/index.hbs
  plop-templates/plop/prompt.js
  plugins/babel-plugin-demo.js
  plugins/webpack-demo/loader.js
  pnpm-lock.yaml
  src/modules/foo.ts
  src/styles/style.scss
  tsconfig.json
Due: prettier -w, eslint --fix, stylelint --fix

feat: 增加postcss
  .prettierrc.js
  plugins/postcss-demo-plugin.js
  plugins/webpack-demo/css-loader.js
  plugins/webpack-demo/js-loader.js
  postcss.config.js
  src/demo/foo.css
  src/demo/foo.ts
  src/main.ts
  tsconfig.json
  types/shims-app.d.ts
  webpack.config.js
Due: prettier -w, eslint --fix, stylelint --fix

feat: 引入react
  babel.config.js
  package.json
  pnpm-lock.yaml
  src/main.ts
  src/main.tsx
  webpack.config.js
Due: prettier -w, eslint --fix

feat: 更换yarn做包管理
  pnpm-lock.yaml
  yarn.lock
Due: none

feat: style
  package.json
  pnpm-lock.yaml
  src/demo/foo.ts
  src/interfaces/index.ts
  src/main.tsx
  src/styles/style.scss
  yarn.lock
Due: prettier -w, eslint --fix, stylelint --fix

feat: 更新技术栈
  package.json
  src/App.tsx
  src/components/CanvasNestBackground.tsx
  src/demo/foo.ts
  src/main.tsx
  src/router/index.tsx
  src/styles/global.scss
  src/styles/style.scss
  src/views/bar.tsx
  src/views/foo.tsx
  src/views/home.tsx
  yarn.lock
Due: prettier -w, eslint --fix, stylelint --fix

feat: 补充store存储库
  package.json
  src/App.tsx
  src/store/feature/counter/action.ts
  src/store/feature/counter/index.ts
  src/store/feature/counter/reducer.ts
  src/store/feature/counter/selector.ts
  src/store/feature/counter/slice.ts
  src/store/feature/counter/types.ts
  src/store/index.ts
  src/views/home.tsx
  yarn.lock
Due: prettier -w, eslint --fix

feat: 升级@systemlight/webpack-config
  .env
  .env.development
  .env.production
  .gitignore
  package.json
  src/main.tsx
  webpack.config.js
  yarn.lock
Due: none

fix: jest支持jsx语法
  jest.config.js
  tests/jest.test.ts
  tsconfig.test.json
Due: prettier -w, eslint --fix

feat: 转换svg解析规则成svg-sprite-loader
  package.json
  src/assets/svg/icons/door.svg
  src/assets/svg/index.js
  src/components/SvgIcon.tsx
  src/main.tsx
  src/views/foo.tsx
  webpack.config.js
  yarn.lock
Due: none

feat: 修正漏洞依赖
  package.json
  src/assets/svg/index.js
  src/assets/svg/index.ts
  yarn.lock
Due: prettier -w, eslint --fix

feat: postcss插件
  plugins/postcss-demo-plugin.js
Due: none

Path conditions:
  prettier -w: any of: *.{vue,ts}
  eslint --fix: any of: *.{vue,ts}
  stylelint --fix: any of: *.{vue,css,s[ac]ss}
